{% extends 'blog/base.html' %}

{% block content %}


        {% if documents %}
            All documents in the database:
            <ul>
                <div class="col-md-8"></div>
                {% for document in documents %}

                <li><a href="{% url 'post_detail' pk=document.id %}"><img src="{{ document.docfile.url }}" width="400" height="400" alt=""></a></li>
                 <p>{{ document.text }}</p>
                <p><a href="{% url 'post_author'  %}">{{ document.author }}</a></p>
                 <p>{{ document.created_date }}</p>
                {% endfor %}
                </div>
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}


{% endblock %}