html, body {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-left: 100px;
    padding-right: 100px;
}

.header-section button{
    width: 360px;
    font-size: 58px;
    color: #FFF;
    background: #3F2AFF;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    height: 90px;
    margin-top: 50px;